@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body{
    background:#eee;    
}
.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-bottom: 20px;
    margin-left: 20%;
}

.left-bar {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-left: 12px;
    position: absolute;
    max-width: 20%;
    padding: 10px;
}
.left-bar div {
    margin: 5px 0;
    padding: 0 5px;
}

hr {
    width: 100%;
    border-bottom: 1px solid #e7ebee;
    margin: 4px auto;
}

.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.simulation-list tbody td .simulation-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.simulation-list tbody td .simulation-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
    cursor: pointer;
}

.simulation-name {
    text-align: left;
    max-width: 30%;
}

.simulation-name h4 {
    cursor: pointer;
}

.table tr {
    text-align: center;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
    border-top: 0;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 15px;
}
a:hover{
text-decoration:none;
}

.navbar {
    margin-bottom: 30px;
}

.details-box {
    padding: 15px;
    border-top: 2px solid #e7ebee;
}

.details-table-box {
    margin: auto;
    max-width: 500px;
    border: 2px solid #e7ebee;
}

.details-box .table-responsive .table {
    margin-bottom: 0;
}

#chart-box {
    width: 100%;
    height: 500px;
}

.search-span {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 0;
    margin-left: auto;
}