<div class="left-bar">
    <div class="row">
        <div class="col-lg-12"><h5>Oznaczenia</h5></div>
        <div class="col-lg-12"><b>P</b> - wielkość populacji</div>
        <div class="col-lg-12"><b>I</b> - początkowa liczba osób zarażonych</div>
        <div class="col-lg-12"><b>R</b> - wskaźnik określający ile osób zaraża jedna zarażona osoba</div>
        <div class="col-lg-12"><b>M</b> - wskaźnik śmiertelności, określający ilu spośród zarażonych umiera</div>
        <div class="col-lg-12"><b>Ti</b> - ilość dni, która upływa od momentu zarażenia do wyzdrowienia chorego</div>
        <div class="col-lg-12"><b>Tm</b> - ilość dni, która upływa od momentu zarażenia do śmierci chorego</div>
        <div class="col-lg-12"><b>Ts</b> - Ilość dni, dla których ma być przeprowadzona symulacja</div>
        <hr>
        <div class="col-lg-12"><b>Pi</b> - liczba osób zarażonych</div>
        <div class="col-lg-12"><b>Pv</b> - liczba osób zdrowych, podatnych na infekcję</div>
        <div class="col-lg-12"><b>Pm</b> - liczba osób zmarłych</div>
        <div class="col-lg-12"><b>Pr</b> - liczba osób, które wyzdrowiały i nabyły odporność</div>
    </div>
</div>